body {
    background-color: lightgray;
}
  
p {
    color: black;
}
  
h1 {
    font-size: 24px;
}
  
.text {
    color: black;
}
  
#knight {
    width: 400px;
    height: auto;
}

@media only screen and (max-width: 400px) {
  #knight {
    width: 300px;
  }
}

@media only screen and (max-width: 300px) {
  #knight {
    max-width: 300px;
    width: 100%;
  }
}
